#selector_helper {

  position: fixed;
  width: 300px;
  border: gray solid 1px;
  border-radius: 3px;

  left: 100px;
  top: 30px;
  z-index: 2012122324;

  ul, li, button, a, p, input, select, textarea, label {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: 18px/1.125 Arial, Helvetica, sans-serif;
  }

  .panel_header {
    height: 24px;
    line-height: 24px;
    position: relative;
    background: #24292e;
    color: #fff;
    padding: 2px 5px;
    user-select: none;
    cursor: move;

    .image_logo {
      float: left;
      cursor: pointer;
      color: #fff;
      text-decoration: none;
    }

    .label_title {
      float: left;
      margin-left: 5px;
    }

    .btn_close {
      float: right;
      cursor: pointer;
    }
  }

  .list_drop_down {
    left: 30px;

    font-size: 18px;
    position: absolute;
    padding: 5px;
    border: gray solid 1px;
    list-style: none;
    margin: -5px 0 0 0;
    background: white;
    display: none;

    em {
      color: red;
    }

    .selected {
      background: blue;
      color: white;
    }
  }

  .panel_content {
    background: white;
    padding: 5px;

    .text_query {
      width: 100%;
      font-size: 18px;
    }
  }

  &, * {
    outline: none;
    animation: none;
  }
  // var elements = [].slice.apply(selector_helper.querySelectorAll('*'))
  // elements.push(selector_helper)
  // elements.forEach(function(item) {
  //   if (item.style) {
  //     // 內连样式
  //     item.style.outline = item.style['-webkit-animation'] = item.style.animation = 'none'
  //   }
  // })

}

@keyframes selector_helper_flash {
  from {
    outline-color: dodgerblue;
    outline-offset: -3px;
  }
  to {
    outline-color: red;
    outline-offset: 0px;
  }
}